.editContainer {
  width: 800px;
  margin: 150px auto;
  display: flex;
  outline: solid 1px red;
  padding: 50px;
}

.editImagePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  width: 50%;
}

.editInfoPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actions {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
